header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

nav {
    float: right;
}

.navbar {
    padding: 0;
}

.row {
    margin-right: 60;
    margin-left: -10;
}

body {
    font-family: 'Adamina', serif;
}

h4 {
    padding: 10;
}

.icon {
    margin-top: 10;
    padding: 15;
}

.card-columns {
    display: inline-block; 
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

#play {
    width: 50%;
}

.photo {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 50;
}